@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,900");

/* 
 * @miraydamartinez
*/

	/* header */

	#header {
		padding: 1em;
		position: absolute;
		top: 50%;
		transform: translate(0, -50%);
	}

	body {
		background-color: #FFF;
		font-family: 'Didot', serif;
	}

	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		overflow: hidden;	
	}

	li {
		float: left;
	}

	li:last-child {
		border-right: none;
	}

	li a {
		display: block;
		color: black;
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;	
	}

	h1 {
		font-size: 50px;
		margin: 10px;
		
	}

	/* icon */
	.icon {
		text-decoration: none;	
		color: inherit;
	}

		.icon:before {
			font-family: FontAwesome;
			font-style: normal;
			font-weight: normal;
			text-transform: none !important;
		}

		.icon > .label {
			display: none;
		}

	/* footer */
	#footer {
		position: absolute;
		text-align: center;
		color: #000000;
		bottom: 0;
		width: 100%;
	}
