@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,900");

/* 
 * @miraydamartinez
*/

	/* header */

	#header {
		border-radius: 1em;
		padding: 1em;
		position: absolute;
		top: 50%;
		left: 50%;
		margin-right: -50%;
		transform: translate(-50%, -50%);
	}

	body {
		background-color: #FFF;
		font-family: 'Marker Felt', fantasy;
	}

	ol, ul {
		list-style: inside;
		word-spacing: 10px;
		font-size: 30px;
		text-align: center;	
	}

	a {
		border-radius: 100%;
	    	border: solid 1px #000;
	    	display: inline-block;
	    	font-size: 1em;
	   	height: 1.75em; 
	    	line-height: 1.75em;
		width: 1.75em;
	}

	h1 {
		font-size: 60px;
		text-align: center;
	}

	p {
		font-size: 25px;
	}

	/* icon */
	.icon {
		text-decoration: none;	
		color: inherit;
	}

		.icon:before {
			font-family: FontAwesome;
			font-style: normal;
			font-weight: normal;
			text-transform: none !important;
		}

		.icon > .label {
			display: none;
		}

	/* footer */
	#footer {
		position: absolute;
		text-align: center;
		color: #000000;
		bottom: 0;
		width: 100%;
	}
